<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <p>
        {{session["counter"]}}
        
        {% if session["counter"] == 1 %}
            time.
        {% else %}
            times.
        {% endif %}
    </p>

    <form action="/user-spec-inc" method="POST">
        <p>What increment would you like? <input type="number" name="inc"></p>
        <input type="submit" value="Do it!">
    </form>

    <form action="/add-two" method="POST">
        <button type="submit" name="add-two">Add 2 visits</button>
    </form>
    <form action="/destroy_session" method="POST">
        <button type="submit" name="destroy">Clear Session</button>
    </form>

</body>
</html>